
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<marquee behavior="alternate">
    <h2>Chào mừng bạn đến với Equipment Manager</h2>
</marquee>
<hr/>
<center>
    <img src="~/assets/images/equipment.jpg" class="img-responsive img-thumbnail" style="width:80%;" />
</center>
<center>
    <h3>Các chức năng của phần mềm</h3>
    <ul style="list-style-type:none;">
        <li>Quản lý thông tin thiết bị</li>
        <li>Lập kế hoạch bảo dưỡng</li>
        <li>Thống kê và báo cáo</li>
        <li>Cảnh báo trước khi hỏng</li>
        <li>Theo dõi lịch sử bảo dưỡng</li>
    </ul>

</center>
